# source_up
PATH_add .direnv/bin
if [ ! -d ".direnv/python" ]; then
python -m venv .direnv/python
source .direnv/python/bin/activate
fi
source .direnv/python/bin/activate
export PYTHONPATH=$(pwd):$(python -c "import sys;print(':'.join(sys.path))")

unset PS1

if [ -f '.env' ]; then
set -o allexport
source ./.env
set +o allexport
fi
