# source_up
PATH_add .direnv/bin
if [ ! -d ".direnv/python" ]; then
python -m venv .direnv/python
source .direnv/python/bin/activate
pip install -r requirements.txt
fi
source .direnv/python/bin/activate
export PYTHONPATH=$(pwd):$(python -c "import sys;print(':'.join(sys.path))")

unset PS1

env_sh() {
  cd ../conf/conn
  local i
  for i in $@; do
    set -o allexport
    source "$i".sh
    set +o allexport
  done

  cd $DIR
  unset -f env_sh
}

env_sh host apg mq 


